<h1>Total Price : {{ totalPrice }}</h1>
<div class="container">
  <div class="col-md-4" *ngFor="let item of products">
    <div class="card mb-2">
      <h3 class="card-header">{{ item.name }}</h3>
      <img
        style="height: 200px; width: 100%; display: block;"
        src="{{ item.image }}"
        alt="Card image"
      />
      <div class="card-footer text-muted">
        {{ item.price }}
        <button class="btn btn-primary" (click)="addToCart(item)">+</button>
        {{ item.quantity ? item.quantity : 0 }}
        <button class="btn btn-danger" (click)="removeFromCart(item)">-</button>
      </div>
    </div>
  </div>
</div>
